body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: ##677878;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchBox {
  padding: 8px;
  font-size: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  cursor: pointer;
  background: #eee;
}

tr:hover {
  background: #f1f1f1;
}
